<nav class="navbar navbar-dark clientes-bg">
    <div class="container text-center justify-content-center">
        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="text-white ">NUESTROS CLIENTES</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-white">
                <p>Al realizar el servicio o la venta de un producto, IA TECHNOLOGY SAC busca tener una relación a largo plazo con sus clientes, analizando sus problemas operativos, brindando soluciones integrales y ofreciendo el mejor servicio .</p>
            </div>
        </div>
    </div>
</nav>
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <div class="row ">
                <div class="col-sm mb-auto mt-auto">
                    <div class="card w-100 card-border ">
                        <div class="doc">
                            <div class="box">
                                <img src="../../../assets/img/cliente01.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm  mb-auto mt-auto">
                    <div class="card w-100 card-border">
                        <div class="doc">
                            <div class="box">
                                <img src="../../../assets/img/cliente02.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm mb-auto mt-auto">
                    <div class="card w-100 card-border">
                        <div class="doc">
                            <div class="box">
                                <img src="../../../assets/img/cliente03.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm mb-auto mt-auto">
                    <div class="card w-100 card-border">
                        <div class="doc">
                            <div class="box">
                                <img src="../../../assets/img/cliente04.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm mb-auto mt-auto">
                    <div class="card w-100 card-border">
                        <div class="doc">
                            <div class="box">
                                <img src="../../../assets/img/cliente05.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm mb-auto mt-auto">
                    <div class="card w-100 card-border">
                        <div class="doc">
                            <div class="box">
                                <img src="../../../assets/img/cliente06.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <div class="row">
                <div class="col-sm mb-auto mt-auto">
                    <div class="card w-100 card-border">
                        <div class="doc">
                            <div class="box">
                                <img src="../../../assets/img/cliente07.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm mb-auto mt-auto">
                    <div class="card w-100 card-border">
                        <div class="doc">
                            <div class="box">
                                <img src="../../../assets/img/cliente08.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm mb-auto mt-auto">
                    <div class="card w-100 card-border">
                        <div class="doc">
                            <div class="box">
                                <img src="../../../assets/img/cliente01.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm mb-auto mt-auto">
                    <div class="card w-100 card-border">
                        <div class="doc">
                            <div class="box">
                                <img src="../../../assets/img/cliente02.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm mb-auto mt-auto">
                    <div class="card w-100 card-border">
                        <div class="doc">
                            <div class="box">
                                <img src="../../../assets/img/cliente03.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm mb-auto mt-auto">
                    <div class="card w-100 card-border">
                        <div class="doc">
                            <div class="box">
                                <img src="../../../assets/img/cliente04.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>