<nav class="navbar navbar-expand-md navbar-dark header-bg ">
    <div class="container-fluid text-center justify-content-center">
        <a href="https://api.whatsapp.com/send?phone=51987401115" class="text-white text-center" style="text-decoration: none;">
            <h3><i class="fab fa-whatsapp"></i> 987 781 633</h3>
        </a>
    </div>
</nav>
<nav class="navbar navbar-expand-md navbar-light bg-menu">
    <div class="container-fluid">
        <a class="navbar-brand " href="#">
            <img src="../../../assets/img/logo.png" alt="" width="200">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav" style="margin-left: auto; align-items:center;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">INICIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">NOSOTROS</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        LÍNEAS DE NEGOCIO
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">MÁQUINAS INDUSTRIALES</a></li>
                        <li><a class="dropdown-item" href="#">TABLEROS ELÉTRICOS</a></li>
                        <li><a class="dropdown-item" href="#">SUMINISTROS</a></li>
                        <li><a class="dropdown-item" href="#">INSTALACIÓN ELÉCTRICA DE GRUPOS ELECTRÓGENOS</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active" href="#">PROYECTOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">CONTACTO</a>
                </li>
            </ul>
        </div>
    </div>
</nav>