<div class="container-fluid p-0 m-0 d-block">
    <div class="row ">
        <div class="col-sm-12">
            <div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="doc">
                            <div class="box">
                                <img src="../../../assets/img/carousel-03.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <div class="carousel-caption d-md-block">
                            <h3><strong>INSTALACIÓN ELÉCTRICA DE GRUPOS ELECTRÓGENOS</strong></h3>
                            <p>Sensores de precisión, difusos, inductivos, capacitivos, etc</p>
                            <p>Cableado de iluminación interna, iluminación externa, toma corriente, tomas industriales, ventiladores, etc</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="doc">
                            <div class="box">
                                <img src="../../../assets/img/carousel-01.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <div class="carousel-caption d-md-block">
                            <h3><strong>MÁQUINAS INDUSTRIALES</strong></h3>
                            <p>Embasadoras Verticales de alimentos granos, polvos, líquidos, etc.</p>
                            <p>Embasadoras Horizontales-Flowpacks para galletas, turrones, etc.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="doc">
                            <div class="box">
                                <img src="../../../assets/img/carousel-02.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <div class="carousel-caption  d-md-block">
                            <h3><strong>TABLEROS ELÉCTRICOS</strong></h3>
                            <p>Tableros de control y fuera</p>
                            <p>Tableros empotrables y adosados</p>
                            <p>Tableros auto soportados</p>
                        </div>
                    </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

    </div>
</div>
<app-lineas-de-negocio></app-lineas-de-negocio>
<app-mision></app-mision>
<app-clientes></app-clientes>