<div class="container-fluid p-5">
    <div class="row">
        <div class="col-sm-5 mt-auto mb-auto">
            <h1 class="text-center">Misión</h1>
            <p>IA TECHNOLOGY SAC es una empresa peruana dedicada al diseño y ejecución de proyectos de automatización, como también la instalación y el ensamblaje de tableros y accesorios eléctricos en encerramientos de grupos electrógenos.</p>
        </div>
        <div class="col-sm-7">
            <img src="../assets/img/mision.png" class="d-block w-100" alt="">
        </div>
    </div>
</div>