<div id="games">
    <div class="container-md">
        <div class="row ">
            <h3 class="text-center pb-4 pt-5 h1 text-white">NUESTROS SERVICIOS</h3>
        </div>
        <div class="row ">
            <div class="col-sm">
                <a href="#" title="LEER MÁS" style="text-decoration: none;">
                    <div class="card w-100 card-border mb-5">
                        <div class="doc">
                            <div class="box">
                                <img src="../../../assets/img/card02.jpg" class="card-img-top" alt="...">
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-title text-center bg-danger">MAQUINAS INDUSTRIALES</p>
                            <ul>
                                <li>Envasadoras Verticales de alimentos granos, polvos, líquidos, etc.</li>
                                <li>Envasadoras Horizontales-Flowpaks para galletas, turrones, etc.</li>
                            </ul>
                        </div>
                        <div><a href="#" class="btn btn-success">LEER MÁS</a></div>
                    </div>
                </a>

            </div>
            <div class="col-sm">
                <a href="#" title="LEER MÁS" style="text-decoration: none;">
                    <div class="card w-100 card-border mb-5">
                        <div class="doc">
                            <div class="box">
                                <img src="../../../assets/img/card01.jpg" class="card-img-top" alt="...">
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-title text-center bg-danger">TABLEROS ELÉCTRICOS</p>
                            <ul>
                                <li>Tableros de control y fuerza</li>
                                <li>Tableros empotrables y adosados</li>
                                <li>Tableros auto soportados</li>
                            </ul>
                        </div>
                        <div><a href="#" class="btn btn-success">LEER MÁS</a></div>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a href="#" title="LEER MÁS" style="text-decoration: none;">
                    <div class="card w-100 card-border mb-5">
                        <div class="doc">
                            <div class="box">
                                <img src="../../../assets/img/card03.jpg" class="card-img-top" alt="...">
                            </div>
                        </div>

                        <div class="card-body">
                            <p class="card-title text-center bg-danger">SUMINISTROS</p>
                            <ul>
                                <li>Conexiones eléctricas de damper motorizado, sensores de combustible, bombas de combustible.
                                </li>
                                <li>Fuentes de alimentación</li>
                                <li>Encoders rotatorio incrementales y absolutos</li>
                                <li>PLCs, etc</li>

                            </ul>
                        </div>
                        <div><a href="#" class="btn btn-success">LEER MÁS</a></div>
                    </div>
                </a>
            </div>

            <div class="col-sm">
                <a href="#" title="LEER MÁS" style="text-decoration: none;">
                    <div class="card w-100 card-border mb-5">
                        <div class="doc">
                            <div class="box">
                                <img src="../../../assets/img/card04.jpg" class="card-img-top" alt="...">
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-title text-center bg-danger">INSTALACIÓN ELÉCTRICA DE GRUPOS ELECTRÓGENOS</p>
                            <ul>
                                <li>Sensores de precisión, difusos, inductivos, capacitivos, etc</li>
                                <li>Cableado de iluminación interna, iluminación externa, toma corriente, tomas industriales, ventiladores, etc</li>
                            </ul>
                        </div>
                        <div><a href="#" class="btn btn-success">LEER MÁS</a></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>